# Ignore arquivos de teste em qualquer lugar, incluindo o dist/
**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts
**/*.test.d.ts
**/*.spec.d.ts
**/__tests__/

# Ignore configurações de build e arquivos desnecessários
node_modules/
dist/
*.log
coverage/
.vscode/
.env
